.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiddenBox {
  position: relative;
  opacity: 1;
  height: 200px;
  width: 200px;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
  }

  &:hover img{
    opacity: 1;
}
}

